@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    padding: 40px 20px 0 20px;
}

h1 {
    font-family: Poppins;
    font-weight: 400px, 600px;
    color: white;
    font-size: 35px;
}

p {
    font-family: Open Sans;
    font-weight: 400px;
    color: white;
}

header {
    padding: 0 20px 20px 20px;
    margin: 50px auto 0 auto;
    max-width: 1350px;
}

main {
    display: flex;
    padding: 20px;
    margin: 50px auto 100px auto;
    max-width: 1350px;
}

aside {
    padding: 0 20px 0 30px;
    margin: 20px;
}

.register {
    background-color: white;
    border: none;
    color: hsl(257, 40%, 49%);
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register:active {
    background-color: hsl(300, 69%, 71%);
    color: white;
    text-decoration: none;
    border: none;
}

footer {
    padding: 0 60px 0 0;
    float: right;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 40px;
    height: 40px;
    padding-left: 5px;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: white;
  }

  .svg-icon path:active,
  .svg-icon polygon:active,
  .svg-icon rect:active {
      fill: hsl(300, 69%, 71%);
  }

.attribution {
    padding-top: 60px;
    text-align: center;
    font-size: 10px;
    color: white;
}

@media (max-width: 1440px) {
    header {
        margin: 20px auto 0 auto;
    }

    main {
        margin: 0px auto 100px auto;
    }
}

@media (max-width: 1000px) {
    html {
        background-image: url(images/bg-mobile.svg);
    }

    body {
        text-align: center;
        padding: 40px 30px 0 30px;
    }

    main {
        display: inline;
    }

    aside {
        padding: 0px 20px 20px 20px;
    }
    
    aside p {
        padding: 0 0 50px 0;
    }

    footer {
        float: none;
        padding: 0;
    }

    .svg-icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 760px) {
    body {
        padding: 40px 0 0 0;
    }

    header img {
        width: 200px;
    }

    .Illustration {
        width: 600px;
    }
}

@media (max-width: 605px) {
    .Illustration {
        width: 500px;
    }
}

@media (max-width: 500px) {
    header img {
        width: 150px;
    }

    .Illustration {
        width: 300px;
    }
}
